@using Examen.Utilidades.Helpers
@model PersonaViewModel;

<script src="~/js/Persona.js"></script>

<div class="section-header">
    <h1><span><i class="fas fa-user me-2"></i></span>Persona</h1>
</div>
<div class="my-form-container">
    <form id="formPersona" class="form-container">

        @* Id *@

        <input type="hidden" id="IdPersona" name="IdPersona" value="@Model.Id" />

        @* Nombre *@

        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <label id="lblNombre" class="label-concepto">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" name="Nombre" value="@Model.Nombre" readonly />
            </div>
        </div>

        @* Apellido paterno *@

        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <label for="txtApellidoPaterno" class="label-concepto">Apellido paterno</label>
                <input type="text" class="form-control" id="txtApellidoPaterno" name="ApellidoPaterno" value="@Model.ApellidoPaterno" readonly />
            </div>
        </div>

        @* Apellido materno *@

        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <label for="txtApellidoMaterno" class="label-concepto">Apellido materno</label>
                <input type="text" class="form-control" id="txtApellidoMaterno" name="ApellidoMaterno" value="@Model.ApellidoMaterno" readonly />
            </div>
        </div>
        
        @* Identificacion *@

        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="col-md-5">
                <label for="txtIdentificacion" class="label-concepto">Identificacion</label>
                <input type="text" class="form-control" id="txtIdentificacion" name="Identificacion" value="@Model.Identificacion" readonly />
            </div>
        </div>

        @* btn Eliminar *@

        <div class="form-row">

            <div class="col-md-9">
            </div>

            <div class="col-md-3">
                <button id="btnEliminar" type="button" class="remove-btn" onclick="mostrarModalConfirmacionPersona()">
                    <span><i class="fas fa-trash-alt"></i></span>
                    Eliminar Persona
                </button>
            </div>

        </div>
    </form>
</div>

<!-- Modal Confirmación Eliminación de Persona -->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalEliminarPersonaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalEliminarPersonaLabel">
                    <i class="fa fa-handshake-slash me-2"></i>Eliminar Persona
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">

                <p style="font-size: 0.875rem;">¿Estás seguro que deseas eliminar esta persona? Esta acción es permanente y no se puede deshacer.</p>

                <!-- Datos de la Persona -->
                <p style="font-size: 0.875rem;"><strong>Nombre:</strong> <span id="modalNombrePersona" class="text-danger"></span></p>
                <p style="font-size: 0.875rem;"><strong>Identificacion:</strong> <span id="modalIdentificacionPersona" class="text-muted"></span></p>

            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 0.875rem;" onclick="ocultarModalConfirmacion()">
                    <i class="fa fa-times me-1"></i> Cancelar
                </button>
                <button type="button" id="confirmBtn" class="btn btn-danger" style="font-size: 0.875rem;" onclick="eliminarPersona()">
                    <i class="fas fa-trash-alt"></i> Eliminar Persona
                </button>
            </div>
        </div>
    </div>
</div>

@* @section Scripts {

    <script>

    </script>
} *@